[project]
[receive]
	requireContributorAgreement = true
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group sbrissen & friends
	push = group sbrissen & friends
	label-Code-Review = -2..+2 group sbrissen & friends
	label-Verified = -1..+1 group sbrissen & friends
	submit = group sbrissen & friends
[access "refs/tags/*"]
	exclusiveGroupPermissions = create
	create = group sbrissen & friends
	push = group sbrissen & friends
[submit]
	action = rebase if necessary
